<html>
    <head>
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        
    </head>
    <body>
        <div id="hoge">
            <h1>ログイン画面</h1>
            <input v-model="email">
            <input type="password" v-model="password">
            <button v-on:click="send">送信</button>
        </div>
        <script>
            let vm = new Vue({
                el: '#hoge',

                data: {
                    email: '',
                    password: '',
                },
            })
        </script>
    </body>
</html>